@media(max-width: 1220px){
    .walkCha {
        width: 233.33px; height: 180px;
        background-size: 1866.67px;
    }
    .walkCha.left {
        background-position: 0px -180px;
    }
    @keyframes walk {
        0% {background-position: 0px 0px;}
        100% {background-position: -1866.67px 0px;}
    }
    @keyframes walk2 {
        0% {background-position: 0px -180px;}
        100% {background-position: -1866.67px -180px;}
    }
    .skillsCha {
        width: 233.33px; height: 180px;
        background-size: 1866.67px;
    }
    .skillsCha.left {
        background-position: 0px -180px;
    }
    .siteLastCha {
        width: 233.33px; height: 180px;
        background-size: 1866.67px;
    }
    .siteLastCha.left {
        background-position: 0px -180px;
    }
}
@media(max-width: 960px){
    .walkCha {
        width: 175px; height: 135px;
        background-size: 1400px;
    }
    .walkCha.left {
        background-position: 0px -135px;
    }
    @keyframes walk {
        0% {background-position: 0px 0px;}
        100% {background-position: -1400px 0px;}
    }
    @keyframes walk2 {
        0% {background-position: 0px -135px;}
        100% {background-position: -1400px -135px;}
    }
    .skillsCha {
        width: 175px; height: 135px;
        background-size: 1400px;
    }
    .skillsCha.left {
        background-position: 0px -135px;
    }
    .siteLastCha {
        width: 175px; height: 135px;
        background-size: 1400px;
    }
    .siteLastCha.left {
        background-position: 0px -135px;
    }
}

